button {
  font-size: 0.9375rem;
  padding: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #642af5;
}

input {
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid #cbcbcb;
  background: transparent;
  outline: none;
}

input[type="radio"] {
  transform: scale(1.3);
  cursor: pointer;
  accent-color: #642af5;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9375rem;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input-group label {
  position: absolute;
  top: -0.65rem;
  left: 0.6rem;
  color: #6c25ff;
  font-size: 0.8125rem;
  transition: all 0.2s ease;
  pointer-events: none;
  background: rgb(241, 239, 239);
  padding: 0 4px;
}
